* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

header {
  font-family: "Press Start 2P", cursive, sans-serif;
  text-align: center;
  background-color: #0d1b2a;
  color: #e0e1dd;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

body {
  background-color: #1b263b;
  position: relative;
}

main {
  margin-top: 80px;
  text-align: center;
  color: #e0e1dd;
  padding: 0 20px;
}

main p {
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.scoreSection button {
  width: 6em;
  height: 2em;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  margin: 30px;
  background-color: #0d1b2a;
  color: #e0e1dd;
  transition: 0.15s;
}

.scoreSection button:hover {
  background: none;
  border: 3px solid #e0e1dd;
}

.scoreSection button:active {
  background-color: #e0e1dd;
  color: #0d1b2a;
}

.scores {
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 450px;
}

.score {
  font-size: 60px;
  font-family: "Press Start 2P", cursive, sans-serif;
}

.playerName {
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 20px;
  padding-right: 20px;
  margin: 50px auto;
  max-width: 450px;
}

.container div {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background-color: #0d1b2a;
  column-gap: 20px;
  height: 2em;
  width: 2em;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.171);
  transition: 0.15s;
}

.container div:hover {
  background-color: #415a77;
  cursor: pointer;
}

.container div:active {
  height: 1.8em;
  background-color: #e0e1dd;
}

#popup {
  background-color: #0d1b2ad2;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: white;
  transition: 0.15s;
}

#popup div {
  width: 20em;
  height: 12em;
  border-radius: 20px;
  background-color: #09121c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#popup div p {
  color: #b3b3b3;
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 400;
}

#popup div button {
  height: 2.5em;
  width: 6em;
  margin-top: 20px;
  background-color: #0d1b2a;
  color: #e0e1dd;
  font-weight: bold;
  transition: 0.15s;
  border: none;
  border-radius: 5px;
  ont-size: 1em;
}

#popup div button:hover {
  background-color: #e0e1dd;
  color: #0d1b2a;
}

#popup div button:active {
  background-color: #0d1b2a;
  color: #e0e1dd;
}
